<% provide(:title, "users") %>
<%= render "shared/login_header" %>
<div class="edit_user_form">
  <h1><i class="fas fa-caret-right"></i>ユーザー編集</h1>
  <%= form_with model: @user, url: user_path, local: true do |f| %>
    <div class="edit_field">
      <%= f.label :メールアドレス %>
      <%= f.text_field :email %><br>
    </div>

    <div class="edit_field">
      <%= f.label :変更パスワード%>
      <%= f.password_field :password %><br>
    </div>

    <div class="edit_field">
      <%= f.label :変更パスワード再入力 %>
      <%= f.password_field :password_confirmation %><br>
    </div>

    <div class="editing_completed">
      <%= f.submit "編集完了" %>
    </div>
  <% end %>
</div>
