<% provide(:title, "users") %>
<%= render "shared/header" %>
<div class="user_form">
  <h1><i class="fas fa-caret-right"></i>新規登録</h1>
  <%= render "shared/error_messages", obj: @user %>
  <%= form_with model: @user, url: users_path, local: true do |f| %>
    <div class="field">
      <span class ="mandatory">※必須</span>
      <%= f.label :名前 %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <span class ="mandatory">※必須</span>
      <%= f.label :メールアドレス %><br>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <span class ="mandatory">※必須</span>
      <%= f.label :パスワード %><br>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <span class ="mandatory">※必須</span>
      <%= f.label :確認用パスワード %><br>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class ="field_other">
      <%= f.submit "新規登録" %>
    </div>
    <div class="login_link">
    <%= link_to "ログイン", login_path %>
  <% end %>
</div>
