<header>
  <%= link_to caves_path do %>
    <img src="/assets/logo.jpg" , alt="ロゴ画像">
  <% end %>
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class="globalMenuSp">
    <ul>
      <li>
        <%= link_to areas_show_path do %>
          <i class="fas fa-map"></i>エリア
        <% end %>
      </li>
      <li>
        <%= link_to new_cafe_path do %>
          <i class="fas fa-coffee"></i>カフェ登録
        <% end %>
      </li>
      <li>
        <%= link_to user_path(current_user) do %>
          <i class="fas fa-user"></i>マイページ
        <% end %>
      </li>
      <li>
        <%= link_to logout_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>ログアウト
        <% end %>
      </li>
    </ul>
  </nav>
</header>
