<header>
  <%= link_to caves_path do %>
    <img src="/assets/logo.jpg" , alt="ロゴ画像">
  <% end %>
  <div class="header_collapse">
    <ul class="head_content">
      <li class="head_item">
        <%= link_to areas_show_path do %>
          <i class="fas fa-map"></i>
          エリア
        <% end %>
      </li>
      <li class="head_item">
        <%= link_to new_cafe_path do %>
          <i class="fas fa-coffee"></i>
          カフェ登録
        <% end %>
      </li>
      <li class="head_item">
        <%= link_to user_path(current_user) do %>
          <i class="fas fa-user"></i>
          マイページ
        <% end %>
      </li>
      <li class="head_item">
        <%= link_to logout_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
          ログアウト
        <% end %>
      </li>
    </ul>
  </div>
</header>
