<% provide(:title, "cafe") %>
<%= render "shared/login_header" %>
<div class="main">
  <div class="search_cafe">
    <%= search_form_for @q do |f| %>
      <div class="search_cafe_field">
        <%= f.search_field :name_or_address_cont, :placeholder => "店名" %>
      </div>
      <%= f.submit "検索", class: "search_button" %>
    <% end %>
  </div>
  <div class="index_title">カフェ一覧</div>
  <div class="cafe_container">
    <% @caves.each do |cafe| %>
      <div class="smaller_container">
        <div class="cafe_information">
          <div class="cafe_card">
            <div class="cafe_img">
              <% if cafe.image.attached? %>
                <%= image_tag cafe.image.url %>
              <% else %>
                <p>画像なし</p>
              <% end %>
            </div>
            <div class="cafe_name">
              <%= link_to cafe_path(cafe.id) do %>
                <%= cafe.name %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @caves %>
  </div>
</div>
