<% provide(:title, "cafe") %>
<%= render "shared/login_header" %>
<div class="detail_title">カフェ詳細</div>
  <div class="cafe_detail">
    <p class="img_detail">
      <% if @cafe.image? %>
        <%= image_tag @cafe.image.to_s %>
      <% else %>
        <p>画像なし</p>
      <% end %>
    </p>
    <div class="cafe_description">
      <p class="cafe_item">
        <strong>
          <i class="fas fa-store"></i>店名:
        </strong>
        <%= @cafe.name %>
      </p>
      <p class="cafe_item">
        <strong>
          <i class="fas fa-map-marker"></i>住所:
        </strong>
        <%= @cafe.address %>
      </p>
      <%= render 'shared/cafe_map', cafe: @cafe %>
      <p class="cafe_item">
        <strong>
          <i class="fas fa-clock"></i>営業時間:
        </strong>
        <%= @cafe.business_hours.strftime( "%H:%M" ) %>~<%= @cafe.end_business_hours.strftime( "%H:%M" ) %>
      </p>
      <p class="cafe_item">
        <strong>
          <i class="fas fa-lightbulb"></i>コンセント席数:
        </strong>
        <%= @cafe.number_seats %>席
      </p>
      <p class="cafe_item">
        <strong>
          <i class="fas fa-wifi"></i>Wifi:
        </strong>
        <% if @cafe.wifi == true %>
          <%= @cafe.wifi="◯" %>
        <% else %>
          <%= @cafe.wifi="×" %>
        <% end %>
      </p>
    </div>
    <div class="detail_link">
      <%= link_to '更新する', edit_cafe_path(@cafe) %> |
      <%= link_to '戻る', caves_path %>
    </div>
  </div>
  <div class="detail_comment">コメント一覧</div>
  <div class="comment_space">
    <% @comments.each do |c| %>
      <div class="user_comment">
        <a href="/users/<%= @cafe.user_id %>"><%= c.user.name %></a>
        <%= c.content %>
        <hr>
      </div>
    <% end %>
    <div class="comment_button">
      <%= form_for [@cafe, @comment] do |f| %>
        <%= f.text_field :content %>
        <br>
        <%= f.submit 'コメントする' %>
      <% end %>
    </div>
  </div>
  <div class="like_space">
    <div class="like_number">いいね件数: <%= @cafe.likes.count %></div>
    <% if current_user.already_liked?(@cafe) %>
      <%= button_to 'いいねを取り消す', cafe_like_path(@cafe), method: :delete %>
    <% else %>
      <%= button_to 'いいね', cafe_likes_path(@cafe) %>
    <% end %>
  </div>
