<%= render "shared/login_header" %>
<div class="area_container">エリア一覧</div>
  <div class="nagoya_area"><h3>名古屋</h3>
    <ul class="nagoya_list">
      <li class="area_item">
        <%= link_to '中区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'中区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '中村区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'中村区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '緑区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'緑区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '港区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'港区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '千種区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'千種区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '西区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'西区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '名東区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'名東区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '中川区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'中川区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '北区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'北区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '南区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'南区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '東区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'東区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '熱田区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'熱田区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '守山区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'守山区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '天白区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'天白区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '昭和区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'昭和区'}} %>
      </li>
      <li class="area_item">
        <%= link_to '瑞穂区',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'瑞穂区'}} %>
      </li>
    </ul>
  </div>
  <div class="other_area"><h3>愛知その他</h3>
    <ul class="other_list">
      <li class="area_item">
        <%= link_to '豊田市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'豊田市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '一宮市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'一宮市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '岡崎市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'岡崎市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '春日井市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'春日井市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '小牧市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'小牧市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '豊橋市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'豊橋市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '刈谷市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'刈谷市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '安城市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'安城市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '瀬戸市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'瀬戸市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '稲沢市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'稲沢市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '知多郡',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'知多郡'}} %>
      </li>
      <li class="area_item">
        <%= link_to '東海市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'東海市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '半田市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'半田市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '豊川市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'豊川市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '海部郡',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'海部郡'}} %>
      </li>
      <li class="area_item">
        <%= link_to '津島市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'津島市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '江南市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'江南市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '西尾市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'西尾市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '大府市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'大府市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '丹羽郡',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'丹羽郡'}} %>
      </li>
      <li class="area_item">
        <%= link_to '北名古屋市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'北名古屋市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '知立市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'知立市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '清須市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'清須市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '長久手市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'長久手市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '犬山市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'犬山市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '日清市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'日清市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '弥富市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'弥富市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '尾張旭市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'尾張旭市'}} %>
      </li>
      <li class="area_item">
        <%= link_to 'あま市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'あま市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '蒲郡市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'蒲郡市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '知多市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'知多市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '常滑市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'常滑市'}} %>
      </li>
      <li class="area_item">
        <%= link_to 'みよし市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'みよし市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '豊明市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'豊明市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '岩倉市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'岩倉市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '愛西市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'愛西市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '碧南市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'碧南市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '高浜市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'高浜市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '西春日井群',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'西春日井群'}} %>
      </li>
      <li class="area_item">
        <%= link_to '額田郡',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'額田郡'}} %>
      </li>
      <li class="area_item">
        <%= link_to '田原市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'田原市'}} %>
      </li>
      <li class="area_item">
        <%= link_to '愛知郡',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'愛知郡'}} %>
      </li>
      <li class="area_item">
        <%= link_to '新城市',{:controller=>"caves",:action=>"index",:q=>{:name_or_address_cont=>'新城市'}} %>
      </li>
    </ul>
  </div>
</div>
